* {
    margin: 0;
    padding: 0;
}

@import "https://fonts.googleapis.com/css?family=Quicksand";
body {
    background-color: #FAFAFA;
    font-family: Quicksand;
}

.form-container {
    display: flex;
    border: solid 2px red;
    width: 25%;
    margin: 0 auto;
    gap: 20px;
    background-color: #FFF;
}

.column {
    flex-direction: column;
}

.form-container>* {
    width: 80%;
}

.center-element {
    margin: 0 auto;
}

.center.text {
    padding: 5px;
    text-align: center;
    border: solid 2px red;
    height: 100px
}

.info {
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 4px;
}