.sidebar-main-container {
    height: 100vh;
    width: 25%;
    background-color: yellow;
}

.sidebar-navigation {
    display: flex;
    border: solid 2px red;
    gap: 20px;
    margin-top: 1.3rem;
    width: 60%;
}

.column {
    flex-direction: column;
}

.sidebar-item {
    margin-left: 0.7rem;
    display: flex;
    gap: 1.3rem;
}

.sidebar-label {
    margin-top: 0.8rem;
}

.center {
    text-align: center;
}

.sidebar-tweet {
    padding: 0.7rem;
    border-radius: 12px;
    background-color: lightblue;
}