.sidebar-main-container {
    height: 100vh;
    width: 25%;
}

.sidebar-navigation {
    display: flex;
    gap: 20px;
    margin-top: 1.3rem;
    width: 60%;
}

.sidebar-column {
    flex-direction: column;
}

.sidebar-current {
    display: flex;
}

.sidebar-nav-text {
    margin-left: 0.5rem;
    padding: 0.8rem;
}

.sidebar-padding {
    padding: 1rem;
}

.sidebar-tweet {
    text-align: center;
    border-radius: 7px;
    background-color: lightblue;
}