.tweet-container {
    width: 100%;
    height: 1%;
}

.tweet-card {
    width: 100%;
    height: 1%;
    border: solid 1px gainsboro;
}

.tweet-column {
    flex-direction: column;
}

.tweet-padding {
    padding: 1rem;
}

.tweet-flex {
    display: flex;
}

.tweet-logos {
    width: 80%;
}

.tweet-center {
    align-items: center;
}

.tweet-margin {
    margin-top: 1rem;
}

.tweet-position {
    justify-content: space-between;
}

.tweet-gap {
    gap: 4px;
}